.alertContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000000b7;
    color:#c7a318;
    height: 2.5rem;
    position: absolute;
    width: 90%;
}