#confirmation {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: #000000f0;
  color: #c7a318;
  transition: all 0.5s;
  border-radius: 20px;
}
#yesnobtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
}
.confirmboxtext {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  /* color: #646669; */
}
#confirmboxtext {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#confirmboxcomment {
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}
#yesbtn:hover {
  background-color: #2ee468;
}
#nobtn:hover {
  background-color: red;
}
/* @keyframes scaling {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
} */
