/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.navbarContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* background-color: #c7a318; */
    justify-content: space-between;
    /* margin: 5px; */
    padding: 5px;
    width: 100%;
    /* border: 2px solid red; */
}
.title{
    font-size: 2rem;
    color: Black;
    /* margin: 5px; */
    padding: 5px;
    padding-left: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.alllinks{
    display: flex;
}
.links{
    display: flex;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    color: #646669;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .1s;
}
.links:hover{
    scale: .9;
}
.themebtns{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
    flex-wrap: wrap;
    /* position: relative; */
    justify-content: space-evenly;
}
.themetext{
    display: flex;
    margin: 5px;
    padding: 5px;
}
.sliderBtn{
    display: flex;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    /* border: 1px solid red; */
}
.searchbar{
    display: flex;
    background-color: #3b3b3bd9;
    color: #c7a318;
    border: none;
    outline: none;
    font-family: 'Source Code Pro', monospace;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-timing-function: ease-in-out;
    margin: 5px;
    padding: 8px;
    margin-right: 0;
}
#searchbtn{
    outline: none;
    margin-top: 5px;
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#searchbtn:hover{
    scale: 1;
}

@media screen  and (max-width: 480px) {
    .themebtns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .navbarContainer{
        flex-direction: column;
       align-items: center;
       gap: 1rem;
    }
  }
